@font-face {
  font-family: 'Lato';
  src: url(Assets/fonts/LatoRegular.woff2) format('woff2'),
       url(Assets/fonts/LatoRegular.woff2) format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1640px;
  }
}

.colorGreen {
  color: #348f99;
}
.bg-theme {
  background-color: #348f99;
}

.sponsor-project-sec {
  padding: 60px 0;
}

.sponsor-card .sponsor-card-header img {
  width: 100%;
}

.sponsor-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sponsor-card .sponsor-card-body {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsor-card .sponsor-card-body-title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.text-primary {
  color: #348f99 !important;
}

.sponsorProjectSlider .swiper-wrapper {
  padding-bottom: 60px;
}
.sponsorProjectSlider .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #348f99 !important;
}
.sponsorProjectSlider .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.sponsor-card .sponsor-card-body-title button {
  padding: 5px 10px;
  white-space: nowrap;
  border: 2px solid #348f99;
  background: transparent;
  color: #348f99;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
}

.sponsor-card-header img {
  height: 274px;
}

.sponsor-card .sponsor-card-body-title h3 {
  font-weight: 700;
  font-size: 19px;
  margin: 0;
}

.sponsor-card .sponsor-card-body p {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sponsor-card .sponsor-card-body-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.sponsor-card .sponsor-card-body-footer * {
  margin: 0;
}

.sponsor-card .sponsor-card-body-footer h6 {
  font-size: 17px;
}

.sponsor-card .sponsor-card-colledted-amount {
  color: #348f99;
  font-weight: 500;
}

.sponsor-card .sponsor-card-target-amount {
  color: #6e6e6f;
}

.sponsor-card .sponsor-card-body .progress {
  height: 10px;
}

.top-volunteer-card {
  background-color: #367379 !important;
  padding: 16px;
  height: 100%;
}

.top-volunteer-card .card-title {
  color: #fff;
}
.top-volunteer-card .card-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
}
.top-volunteer-card .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-volunteer-card .row {
  align-items: center;
}
.top-volunteer-card .card-body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heplcard:hover h3.helped {
  color: #fdd22e !important;
}

.heplcard h3.helped {
  transition: all 0.5s ease;
}
/* Our Work */
.programaList {
  height: 500px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* For WebKit browsers (Chrome, Safari) */
.programaList::-webkit-scrollbar {
  display: none;
}

.hoverLink:hover {
  cursor: pointer;
}

.faqsSection {
  padding: 60px 0;
}
.faqsSection .secHead h2 {
  color: #3c787e;
  font-weight: 600;
  font-size: 43px;
}
.faqsSection .accordion .accordion-button {
}
.faqsSection .accordion .accordion-body {
  font-weight: 400;
  line-height: 1.3;
  color: #212529bf;
}

.faqsSection .accordion-button:not(.collapsed) {
  background-color: #3c787e;
  color: #fdd22e;
  box-shadow: unset;
}


.faqsSection .accordion-button:not(.collapsed)::after {
    border-radius: 4px;
    background-color: #fdd22e;
}

@media (max-width: 1399px) {
  .sponsor-card .sponsor-card-body-title h3 {
    font-size: 15px;
  }

  .sponsor-card .sponsor-card-body-title button {
    padding: 5px 10px;
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  .sponsor-card .sponsor-card-body-title button {
    padding: 5px 7px;
    font-size: 11px;
  }

  .sponsor-card .sponsor-card-body-footer h6 {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .sponsor-card .sponsor-card-body-title h3 {
    font-size: 23px;
  }

  .sponsor-card .sponsor-card-body p {
    font-size: 14px;
  }
  .programaList {
    height: unset;
  }
}

@media (max-width: 767px) {
  .communityOutreachDayschedualdivider {
    height: unset;
  }
  .faqsSection .secHead h2 {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .sponsor-card .sponsor-card-body-title h3 {
    font-size: 19px;
  }
}
