body {
  /* overflow: hidden!; */
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #E4E4ED;
  border-right-color: var(--primaryColor);
  animation: s2 1s infinite linear;
}

body .uwy.userway_p1 .userway_buttons_wrapper{
  top: auto !important;
  right: auto;
  bottom: 20px !important;
  left: calc(100vw - 32px) !important;
}

@keyframes s2 {
  to {
    transform: rotate(1turn)
  }
}

.loaderBox {
  position: fixed;
  background-color: #000000c2;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}